force-app/main/default/flows/Account_Owner_Change_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Does_New_Owner_Match_Current_Owner</name>
        <label>Does New Owner Match Current Owner?</label>
        <locationX>883</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>Is_Current_Owner_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Owner_Match_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Proposed_New_Owner.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account_To_Update.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Same_User_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Approval_Pending</name>
        <label>Is Approval Pending</label>
        <locationX>163</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>Clear_Last_Requested_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_To_Update.Account_Owner_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Bypass_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Approval_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_Owner_Inactive</name>
        <label>Is Current Owner Inactive</label>
        <locationX>1024</locationX>
        <locationY>210</locationY>
        <defaultConnector>
            <targetReference>Is_Current_User_System_Administrator_or_OTG_Sales_Operations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>InactiveYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Autoapproved_Owner_Change</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_User_System_Administrator_or_OTG_Sales_Operations</name>
        <label>Is Current User &apos;System Administrator&apos; or &apos;OTG Sales Operations&apos;</label>
        <locationX>1107</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Current_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTG Sales Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Autoapproved_AOCR_Record</targetReference>
            </connector>
            <label>Yes Current User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_proposed_User_a_Sales_User</name>
        <label>Is the proposed User a Sales User?</label>
        <locationX>851</locationX>
        <locationY>385</locationY>
        <defaultConnector>
            <targetReference>Does_New_Owner_Match_Current_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Sales_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_User_Role_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Sales_User</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account Owner Change Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Owner Change Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Autoapproved_Owner_Change</name>
        <label>Autoapproved Owner Change</label>
        <locationX>1643</locationX>
        <locationY>261</locationY>
        <connector>
            <targetReference>InactiveOwnerChanged</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Owner__c</field>
            <value>
                <elementReference>Get_Current_Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_To_Update.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>Auto Approved due to current owner being inactive.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Owner__c</field>
            <value>
                <elementReference>Get_Proposed_New_Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Created_By_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account_Owner_Change_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Autoapproved_AOCR_Record</name>
        <label>Create Autoapproved AOCR Record</label>
        <locationX>1008</locationX>
        <locationY>465</locationY>
        <connector>
            <targetReference>Sys_Admin_USer_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Owner__c</field>
            <value>
                <elementReference>Get_Current_Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_To_Update.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>Auto Approved due to current user being a System Admin or OTG Sales Operation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Owner__c</field>
            <value>
                <elementReference>Get_Proposed_New_Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Created_By_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account_Owner_Change_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Owner_AOCR</name>
        <label>Create New Owner AOCR</label>
        <locationX>1361</locationX>
        <locationY>364</locationY>
        <connector>
            <targetReference>Approval_Submitted_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Owner__c</field>
            <value>
                <elementReference>Get_Account_To_Update.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Reason_for_change</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Owner__c</field>
            <value>
                <elementReference>Get_Proposed_New_Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Created_By_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account_Owner_Change_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_To_Update</name>
        <label>Get Account To Update</label>
        <locationX>7</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Owner</name>
        <label>Get Current Owner</label>
        <locationX>8</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Approval_Pending</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_To_Update.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Proposed_New_Owner</name>
        <label>Get Proposed New Owner</label>
        <locationX>571</locationX>
        <locationY>385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_User_Role_Mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lookup_New_User.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_User_Role_Mapping</name>
        <label>Get Sales User Role Mapping</label>
        <locationX>695</locationX>
        <locationY>388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_proposed_User_a_Sales_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Proposed_New_Owner.UserRole.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Person_Role_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Last_Requested_Owner</name>
        <label>Clear Last Requested Owner</label>
        <locationX>326</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>Set_New_Owner_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Owner_Change_Request_Comments__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Change_Request__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1227</locationX>
        <locationY>463</locationY>
        <connector>
            <targetReference>Create_New_Owner_AOCR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Owner_Change_Request_Comments__c</field>
            <value>
                <elementReference>Reason_for_change</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Change_Request__c</field>
            <value>
                <elementReference>Lookup_New_User.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Approval_Submitted_Screen</name>
        <label>Approval Submitted</label>
        <locationX>1352</locationX>
        <locationY>575</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Approval_Submitted</name>
            <fieldText>&lt;p&gt;Your request has been submitted for approval. Once approved, the owner will be updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InactiveOwnerChanged</name>
        <label>InactiveOwnerChanged</label>
        <locationX>1631</locationX>
        <locationY>559</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Inactive_Owner_Changed</name>
            <fieldText>&lt;p&gt;The current owner is inactive, therefore the account owner has automatically been changed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Sales_User</name>
        <label>Not Sales User</label>
        <locationX>859</locationX>
        <locationY>546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Not_Sales_User_Text</name>
            <fieldText>&lt;p&gt;You are unable to change this accounts owner to {!Get_Proposed_New_Owner.Name} as they are not a sales person.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pending_Approval_Screen</name>
        <label>Pending Approval Screen</label>
        <locationX>171</locationX>
        <locationY>548</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Pending_Approval</name>
            <fieldText>&lt;p&gt;This account already has a pending approval to change the account owner.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Same_User_Screen</name>
        <label>Same User Screen</label>
        <locationX>904</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Matching_User_Error</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!Get_Proposed_New_Owner.Name}&lt;/b&gt; is already the owner of this Account.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;User ID: {!Get_Proposed_New_Owner.Id}&lt;/p&gt;&lt;p&gt;Account Owner ID: {!Get_Account_To_Update.OwnerId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_New_Owner_Screen</name>
        <label>Set New Owner Screen</label>
        <locationX>453</locationX>
        <locationY>384</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Proposed_New_Owner</targetReference>
        </connector>
        <fields>
            <name>Current_Owner_Info</name>
            <fieldText>&lt;p&gt;The current account owner is &lt;b&gt;{!Get_Account_To_Update.Current_Account_Owner__c}&lt;/b&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Who would you like to change it to?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lookup_New_User</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account_Owner_Change_Request__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Reason_for_change</name>
            <fieldText>Reason for change:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sys_Admin_USer_Screen</name>
        <label>Sys Admin USer Screen</label>
        <locationX>1019</locationX>
        <locationY>642</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text_messsage2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The current user is a System Admin or OTG Sales Operations, therefore the Account Owner Change Request record has been created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account_To_Update</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
