force-app/main/default/flows/Account_Contact_Relationship_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Plus_One</name>
        <label>Plus One</label>
        <locationX>925</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>Number_Of_ACRs</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_ACRs_for_Active_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Contact_Active</name>
        <label>Is Contact Active?</label>
        <locationX>917</locationX>
        <locationY>141</locationY>
        <defaultConnector>
            <targetReference>Plus_One</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active</defaultConnectorLabel>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_ACRs_for_Active_Contacts.Contact.Inactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_ACRs_for_Active_Contacts</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <interviewLabel>Account Contact Relationship Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Contact Relationship Created</label>
    <loops>
        <name>Count_ACRs_for_Active_Contacts</name>
        <label>Count ACRs for Active Contacts</label>
        <locationX>669</locationX>
        <locationY>141</locationY>
        <collectionReference>Get_All_Related_ACRs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Contact_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_ACRs</name>
        <label>Get All Related ACRs</label>
        <locationX>543</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_ACRs_for_Active_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>669</locationX>
        <locationY>334</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_Of_Contacts__c</field>
            <value>
                <elementReference>Number_Of_ACRs</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Related_ACRs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Number_Of_ACRs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
