force-app/main/default/flows/Account_In_Debt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Email for notifying account in debt</description>
        <name>Email_Account_in_debt</name>
        <label>Email Account in debt</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Account.Account_In_Debt</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Account_In_Debt</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>Create a task and send an email notification if the Account is in Debt over 120 days.</description>
        <name>Account_in_Debt</name>
        <label>Account in Debt</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Not Notify</defaultConnectorLabel>
        <rules>
            <name>Notify_Account_in_Debt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Debt_over_120_days__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Debt_over_120_days__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Task</targetReference>
            </connector>
            <label>Notify Account in Debt</label>
        </rules>
    </decisions>
    <description>When an account has debts for more than 120 days a task will be created and an email sent.</description>
    <environments>Default</environments>
    <interviewLabel>Account In Debt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account In Debt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Task</name>
        <label>Create a Task</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Email_Account_in_debt</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Chase the aged debt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_in_Debt</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
