force-app/main/default/flows/Account_Hierarchy_Ultimate_Parent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Child_Records</name>
        <label>Add Child Records</label>
        <locationX>746</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>AccountsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Children</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Name_to_List</name>
        <label>Add Name to List</label>
        <locationX>637</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>ListOfChildren</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Children.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfChildren</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Child_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Original_Parent_to_List</name>
        <label>Add Original Parent to List</label>
        <locationX>1879</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>AccountsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Original_Parent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Previous_Parent_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Previous_Parent_Name</name>
        <label>Add Previous Parent Name</label>
        <locationX>1753</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>ListOfChildren</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Original_Parent.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_ParentId</name>
        <label>Clear ParentId</label>
        <locationX>966</locationX>
        <locationY>449</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_Children.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Child_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Old_Parent_Id</name>
        <label>Set Old Parent Id</label>
        <locationX>795</locationX>
        <locationY>169</locationY>
        <assignmentItems>
            <assignToReference>OldUltimateParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Children_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_ParentId_to_new_parent</name>
        <label>Update ParentId to new parent</label>
        <locationX>693</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_Children.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Name_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_ultimate_parent_id</name>
        <label>Update ultimate parent id</label>
        <locationX>1692</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>Get_Original_Parent.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Original_Parent_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_Ultimate_Parent_Account</name>
        <label>Already Ultimate Parent Account?</label>
        <locationX>405</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Intro_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Already_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Record.ParentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Already_Ultimate_Parent_Account_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_Record</name>
        <label>Is Current Record</label>
        <locationX>1222</locationX>
        <locationY>595</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Children.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ParentId_to_new_parent</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Children.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_ParentId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Account Hierarchy Ultimate Parent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Hierarchy Ultimate Parent</label>
    <loops>
        <name>Loop_Over_Children</name>
        <label>Loop Over Children</label>
        <locationX>1147</locationX>
        <locationY>356</locationY>
        <collectionReference>Get_All_Children_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Current_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Original_Parent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Children_Accounts</name>
        <label>Get All Children Accounts</label>
        <locationX>960</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldUltimateParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Record</name>
        <label>Get Current Record</label>
        <locationX>478</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Ultimate_Parent_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Parent</name>
        <label>Get Original Parent</label>
        <locationX>1544</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ultimate_parent_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldUltimateParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>1536</locationX>
        <locationY>572</locationY>
        <connector>
            <targetReference>FinishScreen</targetReference>
        </connector>
        <inputReference>AccountsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Already_Ultimate_Parent_Account_Screen</name>
        <label>Already Ultimate Parent Account</label>
        <locationX>253</locationX>
        <locationY>352</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Already_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!Get_Current_Record.Name} &lt;/b&gt;is already the Ultimate Parent Account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinishScreen</name>
        <label>FinishScreen</label>
        <locationX>1414</locationX>
        <locationY>589</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishScreenText</name>
            <fieldText>&lt;p&gt;The Ultimate Parent Account has been updated successfully.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;New Ultimate Parent Account:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_Current_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;New Children Accounts:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ListOfChildren}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Intro_Screen</name>
        <label>Intro Screen</label>
        <locationX>633</locationX>
        <locationY>170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Old_Parent_Id</targetReference>
        </connector>
        <fields>
            <name>Intro_Text</name>
            <fieldText>&lt;p&gt;You are about to set &lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_Current_Record.Name}&lt;/b&gt; as the ultimate parent account. Click Next to confirm the change.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Current_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ListOfChildren</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OldUltimateParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
