force-app/main/default/flows/Account_Invoice_Emails_List_View.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_the_Invoice_Emails</name>
        <label>Assign the Invoice Emails</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Invoice_Email_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Left255InvoiceEmails</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Record_Type_Name_Invoice_Account</name>
        <label>Record Type Name - Invoice Account</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_and_Replica_Account</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replica_Invoice_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_Invoice_Emails</targetReference>
            </connector>
            <label>Invoice and Replica Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Left255InvoiceEmails</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Invoice_Emails__c},255)</expression>
    </formulas>
    <interviewLabel>Account Invoice Emails List View {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Invoice Emails List View</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type_Name_Invoice_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice_Emails__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
