force-app/main/default/flows/Add_Opportunity_Contact_Roles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>assignContactRole</name>
        <label>assignContactRole</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Decision Maker Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Specific_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateOpportunityContactRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOpportunityContactRole</name>
        <label>assignOpportunityContactRole</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAllContacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Decision Maker Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Contact_Role</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Existing_Contact_Roles</name>
        <label>Check for Existing Contact Roles</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Contact Roles Exists</defaultConnectorLabel>
        <rules>
            <name>No_Contact_Roles_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Contact_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAllContacts</targetReference>
            </connector>
            <label>No Contact Roles Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Same_Contact_Role</name>
        <label>Check for Same Contact Role</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Same Contact Role Exists</defaultConnectorLabel>
        <rules>
            <name>Same_Contact_Role_Not_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunityContactRoles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Specific_Contact</targetReference>
            </connector>
            <label>Same Contact Role Not Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Contact_Name_Changed</name>
        <label>Check if Contact Name Changed</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Existing_Contact_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Name Not Changed</defaultConnectorLabel>
        <rules>
            <name>Contact_Name_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Contact_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpportunityContactRoles</targetReference>
            </connector>
            <label>Contact Name Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Contact Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Opportunity Contact Roles</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_Contact_Role</name>
        <label>Create Opportunity Contact Role</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <inputReference>varOpportunityContactRole</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateOpportunityContactRole</name>
        <label>Create Opportunity Contact Role</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputReference>varOpportunityContactRole</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Existing_Contact_Roles</name>
        <label>Existing Contact Roles</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Existing_Contact_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Specific_Contact</name>
        <label>Get Specific Contact</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignContactRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAllContacts</name>
        <label>getAllContacts</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignOpportunityContactRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunityContactRoles</name>
        <label>getOpportunityContactRoles</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Same_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Contact_Name_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varOpportunityContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>varOpportunityContactRoleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
