force-app/main/default/flows/Add_Remove_Opportunity_Team_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>AddMember</name>
        <choiceText>Add member to Opportunity Team</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RemoveMember</name>
        <choiceText>Remove member from Opportunity Team</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Add_or_Remove_Opportunity_Team_Member</name>
        <label>Add or Remove Opportunity Team Member</label>
        <locationX>644</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddMember</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Opportunity_Team_Member</targetReference>
            </connector>
            <label>Add</label>
        </rules>
        <rules>
            <name>Remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoveMember</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pick_a_user_to_remove_from_Opportunity_Team</targetReference>
            </connector>
            <label>Remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_added_user_s_profile_OTG_Project_User</name>
        <label>Is added user&apos;s profile OTG Project User?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Incorrect_User_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTG Project User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_user_to_Opportunity_Team</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if user has correct profile of OTG Project User</description>
        <name>Is_profile_OTG_Project_User</name>
        <label>Is profile OTG Project User</label>
        <locationX>1007</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Incorrect_Profile_access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OTG_Project_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTG Project User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_or_remove_team_member</targetReference>
            </connector>
            <label>OTG Project User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_user_part_of_Opportunity_Team</name>
        <label>Is user part of Opportunity Team?</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>User_not_part_of_Opportunity_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Part_of_Opportunity_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Opportunity_Team</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_chosen_user_from_Opportunity_Team</targetReference>
            </connector>
            <label>Part of Opportunity Team</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>TeamMemberRole</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TeamMemberRole</picklistField>
        <picklistObject>OpportunityTeamMember</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Add/Remove Opportunity Team Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add/Remove Opportunity Team Members</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_user_to_Opportunity_Team</name>
        <label>Add user to Opportunity Team</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>User_successfully_added</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <elementReference>TeamMemberRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>User_to_add.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Remove_chosen_user_from_Opportunity_Team</name>
        <label>Remove chosen user from Opportunity Team</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>User_successfully_removed</targetReference>
        </connector>
        <inputReference>Current_Opportunity_Team</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Current_Opportunity_Team</name>
        <label>Current Opportunity Team</label>
        <locationX>710</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_user_part_of_Opportunity_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_to_remove.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_record</name>
        <label>Get User record</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_added_user_s_profile_OTG_Project_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_to_add.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Add_Opportunity_Team_Member</name>
        <label>Add Opportunity Team Member</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_User_record</targetReference>
        </connector>
        <fields>
            <name>User_to_add</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UserId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a user to add to Opportunity Team</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>OpportunityTeamMember</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_Team_Member_Role</name>
            <choiceReferences>TeamMemberRole</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Team Member Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_or_remove_team_member</name>
        <label>Add or remove team member</label>
        <locationX>644</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_or_Remove_Opportunity_Team_Member</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_add_or_remove_Opportunity_Team_member</name>
            <choiceReferences>AddMember</choiceReferences>
            <choiceReferences>RemoveMember</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to add or remove Opportunity Team member</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incorrect_Profile_access</name>
        <label>Incorrect Profile access</label>
        <locationX>1370</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Incorrect_Profile_Error</name>
            <fieldText>&lt;p&gt;To access this feature you require to have OTG Project User profile. &lt;/p&gt;&lt;p&gt;Please speak with your administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incorrect_User_Profile</name>
        <label>Incorrect User Profile</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_or_remove_team_member</targetReference>
        </connector>
        <fields>
            <name>Incorrect_User_profile_error</name>
            <fieldText>&lt;p&gt;You are only allowed to add users which are a part of OTG Project profile. Please speak to your administrator for more information.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Press &quot;Next&quot; to try again&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pick_a_user_to_remove_from_Opportunity_Team</name>
        <label>Pick a user to remove from Opportunity Team</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Current_Opportunity_Team</targetReference>
        </connector>
        <fields>
            <name>User_to_remove</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UserId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a user to remove from Opportunity Team</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>OpportunityTeamMember</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_not_part_of_Opportunity_Team</name>
        <label>User not part of Opportunity Team</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_or_remove_team_member</targetReference>
        </connector>
        <fields>
            <name>User_not_part_of_Opportunity_Team_error</name>
            <fieldText>&lt;p&gt;The selected user is not a part of Opportunity Team. Please contact your administrator for more information.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Press &quot;Next&quot; to try again&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_successfully_added</name>
        <label>User successfully added</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_or_remove_team_member</targetReference>
        </connector>
        <fields>
            <name>User_successfully_added_message</name>
            <fieldText>&lt;p&gt;User has been successful to the Opportunity Team.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Press &apos;Next&apos; if you&apos;d like to repeat the process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_successfully_removed</name>
        <label>User successfully removed</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_or_remove_team_member</targetReference>
        </connector>
        <fields>
            <name>User_successfully_removed_error</name>
            <fieldText>&lt;p&gt;User has been successfully removed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Press &apos;Next&apos; if you&apos;d like to repeat the process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_profile_OTG_Project_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
