force-app/main/default/flows/Add_Legal_Entity_Onto_Opportunity_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Legal_Entity</name>
        <label>Assign Legal Entity</label>
        <locationX>2866</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varLegalEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_LA_Contracts.Legal_Entity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_LA_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Legal_Entity_For_Crew</name>
        <label>Assign Legal Entity For Crew</label>
        <locationX>4362</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varLegalEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_Crew_Contracts.Legal_Entity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Crew_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Legal_Entity_For_Fleet</name>
        <label>Assign Legal Entity For Fleet</label>
        <locationX>3746</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varLegalEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_Fleet_Contracts.Legal_Entity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Fleet_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ocean_DanDocs_ApS</name>
        <label>Assign Ocean DanDocs ApS</label>
        <locationX>6122</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varLegalEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DanDocsApS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Custom_Setting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ocean_Tech_Asia_Pte_Ltd</name>
        <label>Assign Ocean Tech Asia Pte Ltd</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varLegalEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OceanTechAsiaPte</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Custom_Setting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ocean_TG_Norway_AS</name>
        <label>Assign Ocean TG Norway AS</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varLegalEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OceanTGNorwayAS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Custom_Setting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ocean_TG_Singapore</name>
        <label>Assign Ocean TG Singapore</label>
        <locationX>2162</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varLegalEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OceanTGSingapore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Custom_Setting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ocean_TG_UK</name>
        <label>Assign Ocean TG UK</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varLegalEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OceanTGUKLtd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Custom_Setting</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>BU_Crew</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>BU - Crew</label>
        <locationX>4274</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_BU_Crew</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Active_Contracts_for_Crew</collectionReference>
        <conditionLogic>(1 OR 5) AND 2 AND 3 AND 4</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_BU_Crew.Business_Unit__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Crew</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_BU_Crew.Legal_Entity__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_BU_Crew.SBQQ__RenewalOpportunity__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_BU_Crew.SBQQ__AmendmentOpportunityRecordTypeId__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_BU_Crew.Business_Unit__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>HCM Crew</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_for_Crew_Contracts</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>BU_Fleet</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>BU - Fleet</label>
        <locationX>3658</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_BU_Crew</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Active_Contracts_for_Fleet</collectionReference>
        <conditionLogic>(1 OR 5) AND 2 AND 3 AND 4</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_BU_Crew.Business_Unit__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Fleet</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_BU_Crew.Legal_Entity__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_BU_Crew.SBQQ__RenewalOpportunity__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_BU_Crew.SBQQ__AmendmentOpportunityRecordTypeId__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_BU_Crew.Business_Unit__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Technical Ship Management</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_for_Fleet_Contracts</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>BU_Learning_Assessment</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>BU - Learning &amp; Assessment</label>
        <locationX>2778</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_BU_Crew</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Active_Contracts_For_L_A</collectionReference>
        <conditionLogic>(1 OR 5) AND 2 AND 3 AND 4</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_BU_Crew.Business_Unit__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Learning &amp; Assessment</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_BU_Crew.Legal_Entity__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_BU_Crew.SBQQ__RenewalOpportunity__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_BU_Crew.SBQQ__AmendmentOpportunityRecordTypeId__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_BU_Crew.Business_Unit__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>HCM Learning, Assessment and Competency</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_for_LA_Contracts</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_for_Custom_Setting</name>
        <label>Check for Custom Setting</label>
        <locationX>3218</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Legal_Entity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_ByPass_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Settings.ByPass_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_ByPass_Flow_True</targetReference>
            </connector>
            <label>Check for ByPass Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Business_Unit_Opportunity_Type</name>
        <label>Evaluate Business Unit &amp; Opportunity Type</label>
        <locationX>3218</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_for_Custom_Setting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Learning_Assessment_Cross_sell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cross-sell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCM Learning, Assessment and Competency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Legal_Entities_Ocean_TG</targetReference>
            </connector>
            <label>Learning &amp; Assessment - Cross-sell</label>
        </rules>
        <rules>
            <name>Learning_Assessment_Whitespace</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Whitespace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCM Learning, Assessment and Competency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Legal_Entities_Ocean_TG</targetReference>
            </connector>
            <label>Learning &amp; Assessment - Whitespace</label>
        </rules>
        <rules>
            <name>Fleet_Cross_sell_APAC_Region</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cross-sell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Ship Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Legal_Entities_Ocean_Tech_Asia</targetReference>
            </connector>
            <label>Fleet - Cross-sell (APAC Region)</label>
        </rules>
        <rules>
            <name>Fleet_Whitespace_APAC_Region</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Whitespace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Ship Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Legal_Entities_Ocean_Tech_Asia</targetReference>
            </connector>
            <label>Fleet - Whitespace (APAC Region)</label>
        </rules>
        <rules>
            <name>Fleet_Cross_sell_EMEA_Region</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cross-sell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Ship Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Legal_Entities_Ocean_TG_Norway_AS</targetReference>
            </connector>
            <label>Fleet - Cross-sell (EMEA Region)</label>
        </rules>
        <rules>
            <name>Fleet_Cross_sell_Americas_Region</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cross-sell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Ship Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Legal_Entities_Ocean_TG_Norway_AS</targetReference>
            </connector>
            <label>Fleet - Cross-sell (Americas Region)</label>
        </rules>
        <rules>
            <name>Fleet_Whitespace_EMEA_Region</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Whitespace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Ship Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Legal_Entities_Ocean_TG_Norway_AS</targetReference>
            </connector>
            <label>Fleet - Whitespace (EMEA Region)</label>
        </rules>
        <rules>
            <name>Fleet_Whitespace_Americas_Region</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Whitespace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Ship Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Legal_Entities_Ocean_TG_Norway_AS</targetReference>
            </connector>
            <label>Fleet - Whitespace (Americas Region)</label>
        </rules>
        <rules>
            <name>Compas_Cross_sell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cross-sell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCM Crew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Legal_Entities_Ocean_Singapore</targetReference>
            </connector>
            <label>Compas - Cross-sell</label>
        </rules>
        <rules>
            <name>Compas_Whitespace</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Whitespace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCM Crew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Legal_Entities_Ocean_Singapore</targetReference>
            </connector>
            <label>Compas - Whitespace</label>
        </rules>
        <rules>
            <name>L_A_Up_Sell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Up-sell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCM Learning, Assessment and Competency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Contracts_For_L_A</targetReference>
            </connector>
            <label>L &amp; A - Up-Sell</label>
        </rules>
        <rules>
            <name>L_A_OLP_Transition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OLP Transition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCM Learning, Assessment and Competency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Active_Contracts_For_L_A</targetReference>
            </connector>
            <label>L &amp; A - OLP Transition</label>
        </rules>
        <rules>
            <name>L_A_Account_Growth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCM Learning, Assessment and Competency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Active_Contracts_For_L_A</targetReference>
            </connector>
            <label>L &amp; A - Account Growth</label>
        </rules>
        <rules>
            <name>Fleet_Up_Sell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Up-sell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Ship Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Contracts_for_Fleet</targetReference>
            </connector>
            <label>Fleet - Up-Sell</label>
        </rules>
        <rules>
            <name>Fleet_Account_Growth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Ship Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Active_Contracts_for_Fleet</targetReference>
            </connector>
            <label>Fleet - Account Growth</label>
        </rules>
        <rules>
            <name>Compass_Up_Sell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Up-sell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCM Crew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Contracts_for_Crew</targetReference>
            </connector>
            <label>Compass - Up-Sell</label>
        </rules>
        <rules>
            <name>Compass_Account_Growth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCM Crew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Active_Contracts_for_Crew</targetReference>
            </connector>
            <label>Compass - Account Growth</label>
        </rules>
        <rules>
            <name>L_A_One_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCM Learning, Assessment and Competency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Legal_Entities_Ocean_TG</targetReference>
            </connector>
            <label>L &amp; A - One Time</label>
        </rules>
        <rules>
            <name>Compass_One_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCM Crew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Legal_Entities_Ocean_Singapore</targetReference>
            </connector>
            <label>Compass - One Time</label>
        </rules>
        <rules>
            <name>Fleet_One_Time_APAC_Region</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Ship Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Legal_Entities_Ocean_Tech_Asia</targetReference>
            </connector>
            <label>Fleet - One Time (APAC Region)</label>
        </rules>
        <rules>
            <name>Fleet_One_Time_EMEA_Region</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Ship Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Legal_Entities_Ocean_TG_Norway_AS</targetReference>
            </connector>
            <label>Fleet - One Time (EMEA Region)</label>
        </rules>
        <rules>
            <name>Fleet_One_Time_Americas_Region</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Ship Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Legal_Entities_Ocean_TG_Norway_AS</targetReference>
            </connector>
            <label>Fleet - One Time (Americas Region)</label>
        </rules>
        <rules>
            <name>Marine_Regulations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Governance, Risk &amp; Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Legal_Entities_DanDocs_ApS</targetReference>
            </connector>
            <label>Marine Regulations</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Add Legal Entity Onto Opportunity Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Legal Entity Onto Opportunity Creation</label>
    <loops>
        <name>Check_for_Crew_Contracts</name>
        <label>Check for Crew Contracts</label>
        <locationX>4274</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Active_Contracts_for_Crew</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Legal_Entity_For_Crew</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Custom_Setting</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Check_for_Fleet_Contracts</name>
        <label>Check for Fleet Contracts</label>
        <locationX>3658</locationX>
        <locationY>755</locationY>
        <collectionReference>BU_Fleet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Legal_Entity_For_Fleet</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Custom_Setting</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Check_for_LA_Contracts</name>
        <label>Check for LA Contracts</label>
        <locationX>2778</locationX>
        <locationY>755</locationY>
        <collectionReference>BU_Learning_Assessment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Legal_Entity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Custom_Setting</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Contracts_for_Crew</name>
        <label>Get Active Contracts for Crew</label>
        <locationX>4274</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BU_Crew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Contracts_for_Fleet</name>
        <label>Get Active Contracts for Fleet</label>
        <locationX>3658</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BU_Fleet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Contracts_For_L_A</name>
        <label>Get Active Contracts For L &amp; A</label>
        <locationX>2778</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BU_Learning_Assessment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Settings</name>
        <label>Get Custom Settings</label>
        <locationX>3218</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Business_Unit_Opportunity_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ByPass_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VRConfiguration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_Entities_DanDocs_ApS</name>
        <label>Get Legal Entities DanDocs ApS</label>
        <locationX>6122</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Ocean_DanDocs_ApS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DanDocs ApS</stringValue>
            </value>
        </filters>
        <object>Legal_Entity__c</object>
        <outputAssignments>
            <assignToReference>DanDocsApS</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_Entities_Ocean_Singapore</name>
        <label>Get Legal Entities Ocean Singapore</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Ocean_TG_Singapore</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ocean TG Singapore Pte Ltd.</stringValue>
            </value>
        </filters>
        <object>Legal_Entity__c</object>
        <outputAssignments>
            <assignToReference>OceanTGSingapore</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_Entities_Ocean_Tech_Asia</name>
        <label>Get Legal Entities Ocean Tech Asia</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Ocean_Tech_Asia_Pte_Ltd</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ocean Tech Asia Pte Ltd</stringValue>
            </value>
        </filters>
        <object>Legal_Entity__c</object>
        <outputAssignments>
            <assignToReference>OceanTechAsiaPte</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_Entities_Ocean_TG</name>
        <label>Get Legal Entities Ocean TG</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Ocean_TG_UK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ocean TG UK Ltd.</stringValue>
            </value>
        </filters>
        <object>Legal_Entity__c</object>
        <outputAssignments>
            <assignToReference>OceanTGUKLtd</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_Entities_Ocean_TG_Norway_AS</name>
        <label>Get Legal Entities Ocean TG Norway AS</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Ocean_TG_Norway_AS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ocean TG Norway AS.</stringValue>
            </value>
        </filters>
        <object>Legal_Entity__c</object>
        <outputAssignments>
            <assignToReference>OceanTGNorwayAS</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Bypass_False</name>
        <label>Update Bypass - False</label>
        <locationX>3218</locationX>
        <locationY>1547</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ByPass_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ByPass_Flow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>VRConfiguration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Legal_Entity</name>
        <label>Update Opportunity Legal Entity</label>
        <locationX>3218</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Update_Bypass_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Legal_Entity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Legal_Entity__c</field>
            <value>
                <elementReference>varLegalEntity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_ByPass_Flow_True</name>
        <label>Updated ByPass Flow - True</label>
        <locationX>3086</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Update_Opportunity_Legal_Entity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ByPass_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ByPass_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>VRConfiguration__c</object>
    </recordUpdates>
    <start>
        <locationX>3092</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Legal_Entity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ActiveContractCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_BU_Crew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>currentItem_Compass_Up_sell_Active_Contracts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Active_Contracts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Active_Contracts_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>DanDocsApS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OceanTechAsiaPte</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OceanTGNorwayAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OceanTGSingapore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OceanTGUKLtd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>varLegalEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
