force-app/main/default/flows/Contact_Deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_To_Accounts_To_Update</name>
        <label>Add To Accounts To Update</label>
        <locationX>663</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>AccountsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_One</name>
        <label>Plus One</label>
        <locationX>486</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccount.Number_Of_Contacts__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_ACRs_for_Active_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Current_Account</name>
        <label>Update Current Account</label>
        <locationX>919</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Accounts.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAccount.Number_Of_Contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Remaining_ACRs_for_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Contact_Active</name>
        <label>Is Contact Active</label>
        <locationX>652</locationX>
        <locationY>588</locationY>
        <defaultConnector>
            <targetReference>Plus_One</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active</defaultConnectorLabel>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_ACRs_for_Active_Contacts.Contact.Inactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_ACRs_for_Active_Contacts</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Next_Account</name>
        <label>Is Next Account?</label>
        <locationX>911</locationX>
        <locationY>110</locationY>
        <defaultConnector>
            <targetReference>Process_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Next_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Accounts.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CurrentAccount.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Account</targetReference>
            </connector>
            <label>Next Account</label>
        </rules>
    </decisions>
    <interviewLabel>Contact Deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Deleted</label>
    <loops>
        <name>Count_ACRs_for_Active_Contacts</name>
        <label>Count ACRs for Active Contacts</label>
        <locationX>664</locationX>
        <locationY>418</locationY>
        <collectionReference>Get_Remaining_ACRs_for_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Contact_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_To_Accounts_To_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_Accounts</name>
        <label>Process Accounts</label>
        <locationX>663</locationX>
        <locationY>106</locationY>
        <collectionReference>Get_ACRs_for_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Next_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ACRs_for_Contact</name>
        <label>Get ACRs for Contact</label>
        <locationX>491</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <sortField>AccountId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Remaining_ACRs_for_Account</name>
        <label>Get Remaining ACRs for Account</label>
        <locationX>920</locationX>
        <locationY>419</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_ACRs_for_Active_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Process_Accounts.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>1121</locationX>
        <locationY>39</locationY>
        <inputReference>AccountsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_ACRs_for_Contact</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CurrentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NumberOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
