force-app/main/default/flows/Contract_Renewals_Update_Previous_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Updates_to_Previous_Contracts</name>
        <label>Assign Updates to Previous Contracts</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Renewal_Contracts.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Renewal_Contracts.Lost_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract Move</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Renewal_Contracts.Lost_Reason_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewals</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Renewal_Contracts.Terminated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatePreviousContracts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Renewal_Contracts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Renewal_Contracts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Previous_Contract</name>
        <label>Check for Previous Contract</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Contract_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Renewal_Contracts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Renewal_Contracts</targetReference>
            </connector>
            <label>Previous Contract Present</label>
        </rules>
    </decisions>
    <description>Update the Previous Contract Fields Value for the Renew Contract</description>
    <environments>Default</environments>
    <interviewLabel>Contract Renewals - Update Previous Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Renewals - Update Previous Contract</label>
    <loops>
        <name>Loop_Through_Renewal_Contracts</name>
        <label>Loop Through Renewal Contracts</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Renewal_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Updates_to_Previous_Contracts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Previous_Contract_Value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Renewal_Contracts</name>
        <label>Get Renewal Contracts</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Previous_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Previous_Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Previous_Contract_Value</name>
        <label>Update Previous Contract Value</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputReference>updatePreviousContracts</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Renewal_Contracts</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Previous_Contract__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>updatePreviousContracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
