force-app/main/default/flows/Merge_Vessels.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Merge_Vessels</name>
        <label>Merge Vessels</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>bg_MergeVessels</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>duplicateVesselId</name>
            <value>
                <elementReference>vesselToMergeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>masterVesselId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>bg_MergeVessels</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Calculate_Number_of_Matches</name>
        <label>Calculate Number of Matches</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>numberOfMatches</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Matching_Vessels</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_a_vessel_matched</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Was_a_vessel_matched</name>
        <label>Was a vessel matched?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>No_Vessels_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfMatches</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>numberOfMatches</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Vessel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MatchedVesselsChoices</name>
        <dataType>String</dataType>
        <displayField>Vessel_Name_Formula__c</displayField>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5))</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vessel_IMO__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Vessel_IMO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record.Vessel_IMO__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vessel_MMSI__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Vessel_MMSI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record.Vessel_MMSI__c</elementReference>
            </value>
        </filters>
        <object>Vessel__c</object>
        <outputAssignments>
            <assignToReference>vesselToMergeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Merge Vessels {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Merge Vessels</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Matching_Vessels</name>
        <label>Get Matching Vessels</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Number_of_Matches</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5))</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vessel_MMSI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record.Vessel_MMSI__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vessel_MMSI__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Vessel_IMO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record.Vessel_IMO__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vessel_IMO__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vessel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record</name>
        <label>Get Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Matching_Vessels</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vessel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Merge_Confirmation</name>
        <label>Merge Confirmation</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Merge_Vessels</targetReference>
        </connector>
        <fields>
            <name>Merge_Confirmation_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;WARNING:&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt; Merging of vessels is irreversible and will delete the duplicate vessel. This process handles the merging of Company Relationship, notes and files. Please ensure any other field changes have been completed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Vessels_Found</name>
        <label>No Vessels Found</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Vessels_Found_Text</name>
            <fieldText>&lt;p&gt;No  vessels were found with a matching IMO/MMSI number.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Vessel</name>
        <label>Select Vessel</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Merge_Confirmation</targetReference>
        </connector>
        <fields>
            <name>VesselInfoText</name>
            <fieldText>&lt;p&gt;Please select the Vessel you wish to merge into this Vessel. Please ensure you are selecting the Vessel with the correct ID.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vessel_to_Merge</name>
            <choiceReferences>MatchedVesselsChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vessel to Merge</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>numberOfMatches</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vesselToMergeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
