force-app/main/default/flows/New_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_To_Opportunity_Record</name>
        <label>Navigate To Opportunity Record</label>
        <locationX>644</locationX>
        <locationY>2114</locationY>
        <actionName>c:navigateToOppRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToOppRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Amend_Contract</name>
        <label>Assign Amend Contract</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Get_Created_Opp.Amend_Contract_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Contracts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Created_Opp.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Amend_Contract_On_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Owner_is_Active</name>
        <label>Check Account Owner is Active</label>
        <locationX>347</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Check_for_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Owner_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactive_Account_Owner_Screen</targetReference>
            </connector>
            <label>Account Owner Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contracts</name>
        <label>Check Contracts</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>ContractsNotPresentScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contracts_are_there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Selection</targetReference>
            </connector>
            <label>Contracts are there</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Account_Owner</name>
        <label>Check for Account Owner</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Owner_Not_a_Account_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Owner.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>currentUserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Message_Screen</targetReference>
            </connector>
            <label>Opportunity Owner Not a Account Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Type</name>
        <label>Check Opportunity Type</label>
        <locationX>644</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Success_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Opportunity_Type_is_UpSell</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Created_Opp.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Up-sell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Created_Opp.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Created_Opp.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contracts</targetReference>
            </connector>
            <label>If Opportunity Type is UpSell</label>
        </rules>
    </decisions>
    <description>Opportunity Creation from Account Page</description>
    <dynamicChoiceSets>
        <name>BusinessUnit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Unit__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContractOptionsData</name>
        <collectionReference>Get_Contracts</collectionReference>
        <dataType>String</dataType>
        <displayField>Contract_Flow_Label__c</displayField>
        <object>Contract</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Contract Type based on Opportunity Type</description>
        <name>ContractType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contract_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalesType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sales_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Stage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>currentUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>SubscriptionValue</name>
        <dataType>Currency</dataType>
        <expression>CURRENCYRATE(TEXT({!Get_Contract.CurrencyIsoCode})) * CURRENCYRATE(TEXT({!Get_Created_Opp.CurrencyIsoCode})) * {!Get_Contract.Subscription_Value__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>New Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>644</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Get_Created_Opp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Opportunity_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>Business_Unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>ContactName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term__c</field>
            <value>
                <stringValue>12</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <elementReference>Contract_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Lead_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <elementReference>Next_Step</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Installations__c</field>
            <value>
                <elementReference>Number_of_Installations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Type__c</field>
            <value>
                <elementReference>Sales_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>StageName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>347</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Owner_is_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Amend_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Contracts</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts</name>
        <label>Get Contracts</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Business_Unit</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Opp</name>
        <label>Get Created Opp</label>
        <locationX>644</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Amend_Contract_On_Opportunity</name>
        <label>Update Amend Contract On Opportunity</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputReference>Get_Created_Opp</inputReference>
    </recordUpdates>
    <screens>
        <name>Contract_Selection</name>
        <label>Contract Selection</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
        <fields>
            <name>Select_Contracts</name>
            <choiceReferences>ContractOptionsData</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Contracts</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contract_Type_Selection</name>
        <label>Contract Type Selection</label>
        <locationX>644</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Contract_Type</name>
            <choiceReferences>ContractType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ContractsNotPresentScreen</name>
        <label>ContractsNotPresentScreen</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <fields>
            <name>ContractsNotPresentText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 255);&quot;&gt;Contracts are not present on the account&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inactive_Account_Owner_Screen</name>
        <label>Inactive Account Owner Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InactiveAccountOwnerMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Unable to Create Opportunity&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;The Account Owner is currently inactive for the Account. Please contact Sales Ops or your Salesforce Administrator to request an Account Owner change before proceeding.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Error_Message</name>
        <label>Opportunity Error Message</label>
        <locationX>1018</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Screen</name>
        <label>Opportunity Screen</label>
        <locationX>644</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contract_Type_Selection</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opportunity_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>This will be updated on save</stringValue>
                    </defaultValue>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Lead_Source</name>
                    <choiceReferences>LeadSource</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Lead Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Business_Unit</name>
                    <choiceReferences>BusinessUnit</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Business Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Account_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Account.Name</elementReference>
                    </defaultValue>
                    <fieldText>Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sales_Type</name>
                    <choiceReferences>SalesType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sales Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact_Name__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Close_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>StageName</name>
                    <choiceReferences>Stage</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Prospecting &amp; Qualifying</stringValue>
                    </defaultValue>
                    <fieldText>Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Enter the total recurring amount of the opportunity over the initial fixed term (e.g. for a $3,000 three year contract enter $9,000). If the sales type is one-time enter the total “non recurring” one-time value.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Number_of_Installations</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Installations</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Next_Step</name>
            <dataType>String</dataType>
            <fieldText>Next Step</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Add your next set of action for the set opportunity stage. To be updated at each opportunity stage. Provides clarity to opportunity owner and their manager.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Clear overview of opportunity / offer in words. Provide an outline package / products you are providing the client. This is used to validate order / quote. Provide vessel details. To be a clear summary of events.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>644</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Navigate_To_Opportunity_Record</targetReference>
        </connector>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 128, 0); font-size: 14px;&quot;&gt;Opportunity Created Succesfully for the {!Get_Account.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Message_Screen</name>
        <label>Warning Message Screen</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opportunity_Screen</targetReference>
        </connector>
        <fields>
            <name>WarningMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;You are not the owner of this Account. Are you sure want to proceed with Opportunity Creation for the Account?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
