force-app/main/default/flows/New_Meeting_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Record</name>
        <label>Assign Record</label>
        <locationX>679</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>Get_Event.Meeting_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Meetings_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Current_User_Owner</name>
        <label>Is Current User Owner?</label>
        <locationX>526</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>Owner_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_There_Meeting_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_Meeting_Details</name>
        <label>Is There Meeting Details</label>
        <locationX>668</locationX>
        <locationY>39</locationY>
        <defaultConnector>
            <targetReference>Add_New_Meeting_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event.Meeting_Details__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Details_Already_Exist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Called from event page</description>
    <interviewLabel>New Meeting Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Meeting Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Meetings_Details</name>
        <label>Create New Meetings Details</label>
        <locationX>679</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>Assign_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Key_Sticking_Points__c</field>
            <value>
                <elementReference>Key_Sticking_Points</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps__c</field>
            <value>
                <elementReference>Next_Steps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pain_Points__c</field>
            <value>
                <elementReference>Pain_Points</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Feedback__c</field>
            <value>
                <elementReference>Product_Feedback</elementReference>
            </value>
        </inputAssignments>
        <object>Meeting_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Current_User_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event</name>
        <label>Update Event</label>
        <locationX>677</locationX>
        <locationY>634</locationY>
        <inputReference>Get_Event</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Add_New_Meeting_Details</name>
        <label>Add New Meeting Details</label>
        <locationX>681</locationX>
        <locationY>227</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Meetings_Details</targetReference>
        </connector>
        <fields>
            <name>Change_Later</name>
            <fieldText>&lt;p&gt;You can change these later.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pain_Points</name>
            <fieldText>Pain Points</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Key_Sticking_Points</name>
            <fieldText>Key Sticking Points</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product_Feedback</name>
            <fieldText>Product Feedback</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Next_Steps</name>
            <fieldText>Next Steps</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Details_Already_Exist</name>
        <label>Details Already Exist</label>
        <locationX>768</locationX>
        <locationY>136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Existing_Details</name>
            <fieldText>&lt;p&gt;Meeting details have already been created for this event. Please edit the existing details at the bottom of the event page.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_Required</name>
        <label>Owner Required</label>
        <locationX>501</locationX>
        <locationY>315</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotOwner</name>
            <fieldText>&lt;p&gt;Only the owner/assignee can add meeting details to this event.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>Get_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
