force-app/main/default/flows/New_Invoice_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clear_Duplicate_Bypass</name>
        <label>Clear Duplicate Bypass</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <actionName>bg_ClearDuplicateBypass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_B2B_Account</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>bg_ClearDuplicateBypass</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Count_Replicas</name>
        <label>Count Replicas</label>
        <locationX>743</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>replicaCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Check_For_Replica</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_IA_Record_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_Replica_Account</name>
        <label>Create Replica Account?</label>
        <locationX>380</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>PrepopulateInvoiceAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCreateReplica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateReplicaAccountRadio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Invoice_Emails</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_many_replica_accounts_are_there</name>
        <label>How many replica accounts are there?</label>
        <locationX>743</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>PrepopulateInvoiceAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Replica already exists</defaultConnectorLabel>
        <rules>
            <name>No_replicas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>replicaCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoReplicaAccount</targetReference>
            </connector>
            <label>No replicas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_the_invoice_account_be_prepopulated</name>
        <label>Should the invoice account be prepopulated?</label>
        <locationX>710</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_Invoice_Account_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPrepoulate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_prepopulate_the_invoice_account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_to_Invoice_Account_Prepopulated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Screen flow used by New Invoice Account actions on B2B account and Invoice Account related list. Provides options to create replica account if applicable.</description>
    <environments>Default</environments>
    <formulas>
        <name>defaultFieldValuesEmpty</name>
        <dataType>String</dataType>
        <expression>&apos;Name=Calculated on save,B2B_Account__c=&apos; +{!recordId}</expression>
    </formulas>
    <formulas>
        <name>defaultFieldValuesPrePopulated</name>
        <dataType>String</dataType>
        <expression>&apos;Name=Calculated on save,B2B_Account__c=&apos; +{!recordId} + &apos;,Company__c=&apos; + URLENCODE({!Get_B2B_Account_Details.Name}) + &apos;,Country__c=&apos; + {!Get_B2B_Account_Details.Country__c} + &apos;,Town_City__c=&apos; + URLENCODE({!Get_B2B_Account_Details.Town_City__c}) + &apos;,Address1__c=&apos; + URLENCODE({!Get_B2B_Account_Details.Address1__c}) + &apos;,Address2__c=&apos; + URLENCODE({!Get_B2B_Account_Details.Address2__c}) + &apos;,Address3__c=&apos; + URLENCODE({!Get_B2B_Account_Details.Address3__c}) + &apos;,County_State__c=&apos; + URLENCODE({!Get_B2B_Account_Details.County_State__c}) + &apos;,Postcode_Zipcode__c=&apos; + URLENCODE({!Get_B2B_Account_Details.Postcode_Zipcode__c}) + &apos;,Phone=&apos; + URLENCODE({!Get_B2B_Account_Details.Phone}) + &apos;,VAT_Number__c=&apos; + URLENCODE({!Get_B2B_Account_Details.VAT_Number__c}) + &apos;,Purchase_Order_Requirements__c=&apos; + URLENCODE({!Get_B2B_Account_Details.Purchase_Order_Requirements__c}) + &apos;,Company_Registration_Number__c=&apos; + URLENCODE({!Get_B2B_Account_Details.Company_Registration_Number__c}) + &apos;,Account_On_Stop__c=&apos; + URLENCODE(TEXT({!Get_B2B_Account_Details.Account_On_Stop__c})) + &apos;,Under_NDA__c=&apos; + IF({!Get_B2B_Account_Details.Under_NDA__c},&apos;true&apos;,&apos;false&apos;) + &apos;,Requires_Purchase_Order__c=&apos; + URLENCODE(TEXT({!Get_B2B_Account_Details.Requires_Purchase_Order__c}))</expression>
    </formulas>
    <formulas>
        <name>ValidationToggle</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!Get_B2B_Account_Details.Validation_Toggle__c})</expression>
    </formulas>
    <interviewLabel>New Invoice Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Invoice Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Replica_Account_Record</name>
        <label>Create Replica Account</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Clear_Duplicate_Bypass</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>B2B_Account__c</field>
            <value>
                <elementReference>Get_B2B_Account_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bypass_Duplicate_Rule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Get_B2B_Account_Details.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Emails__c</field>
            <value>
                <elementReference>Invoice_Emails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_B2B_Account_Details.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Replica_Invoice_Account_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_For_Replica</name>
        <label>Check For Replica</label>
        <locationX>743</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Replicas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Replica_Invoice_Account_RT.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>B2B_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_B2B_Account_Details</name>
        <label>Get B2B Account Details</label>
        <locationX>743</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Replica</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IA_Record_Type</name>
        <label>Get IA Record Type</label>
        <locationX>743</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>How_many_replica_accounts_are_there</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Replica_Invoice_Account_RT</name>
        <label>Get Replica Invoice Account RT</label>
        <locationX>743</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_B2B_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Replica Invoice Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_B2B_Account</name>
        <label>Update B2B Account</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Navigate_to_Replica_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_B2B_Account_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Replica_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validation_Toggle__c</field>
            <value>
                <elementReference>ValidationToggle</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Add_Invoice_Emails</name>
        <label>Add Invoice Emails</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Replica_Account_Record</targetReference>
        </connector>
        <fields>
            <name>Invoice_Emails</name>
            <fieldText>Invoice Emails</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Navigate_to_Invoice_Account_Empty</name>
        <label>Navigate to Invoice Account (Empty)</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>navigateToEmptyIA</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectType</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordToNavigateTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newRecord</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>Get_IA_Record_Type.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultFieldValues</name>
                <value>
                    <elementReference>defaultFieldValuesEmpty</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Navigate_to_Invoice_Account_Prepopulated</name>
        <label>Navigate to Invoice Account (Prepopulated)</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>navigateToPrepopulatedIA</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectType</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordToNavigateTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newRecord</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>Get_IA_Record_Type.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultFieldValues</name>
                <value>
                    <elementReference>defaultFieldValuesPrePopulated</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Navigate_to_Replica_Account</name>
        <label>Navigate to Replica Account</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>navigateToReplica</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectType</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordToNavigateTo</name>
                <value>
                    <elementReference>Create_Replica_Account_Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newRecord</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoReplicaAccount</name>
        <label>NoReplicaAccount</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Replica_Account</targetReference>
        </connector>
        <fields>
            <name>CreateReplicaAccountRadio</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>There is no identical invoice account that replicates the B2B account. Would you like to create one now?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PrepopulateInvoiceAccount</name>
        <label>PrepopulateInvoiceAccount</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Should_the_invoice_account_be_prepopulated</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_prepopulate_the_invoice_account</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like the B2B Account Name and Address details to be prepopulated in the new invoice account?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Replica_Invoice_Account_RT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>replicaCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
