force-app/main/default/flows/Opportunities_Competitor_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Competitor_Updates</name>
        <label>Competitor Updates</label>
        <locationX>1304</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Won_From_Competitor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Won_from_Competitor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OTG_Providers</targetReference>
            </connector>
            <label>Won From Competitor</label>
        </rules>
        <rules>
            <name>Lost_to_Competitor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lost_to_Competitor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Business_Unit</targetReference>
            </connector>
            <label>Lost to Competitor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Business_Unit</name>
        <label>Opportunity Business Unit</label>
        <locationX>1502</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fleet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Ship Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Fleet_Provider_Competitor</targetReference>
            </connector>
            <label>Fleet</label>
        </rules>
        <rules>
            <name>Crew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCM Crew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Crew_Provider_Competitor</targetReference>
            </connector>
            <label>Crew</label>
        </rules>
        <rules>
            <name>Learning_Assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCM Learning, Assessment and Competency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Learning_Assessment_Provider_Competitor</targetReference>
            </connector>
            <label>Learning &amp; Assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Business_Unit2</name>
        <label>Opportunity Business Unit</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fleet2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Ship Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Fleet_Provider_OTG</targetReference>
            </connector>
            <label>Fleet</label>
        </rules>
        <rules>
            <name>Crew2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCM Crew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Crew_Provider_OTG</targetReference>
            </connector>
            <label>Crew</label>
        </rules>
        <rules>
            <name>Learning_Assessment2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCM Learning, Assessment and Competency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Learning_Assessment_Provider_OTG</targetReference>
            </connector>
            <label>Learning &amp; Assessment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunities - Competitor Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunities - Competitor Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_OTG_Providers</name>
        <label>Get OTG Providers</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Business_Unit2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Unit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OTG_Provider_Mappings__mdt</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Crew_Provider_Competitor</name>
        <label>Update Account Crew Provider (Competitor)</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Crew_Management_Provider__c</field>
            <value>
                <elementReference>$Record.Lost_to_Competitor__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Crew_Provider_OTG</name>
        <label>Update Account Crew Provider (OTG)</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Crew_Management_Provider__c</field>
            <value>
                <elementReference>Get_OTG_Providers.Account_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Fleet_Provider_Competitor</name>
        <label>Update Account Fleet Provider (Competitor)</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Fleet_Management_Provider__c</field>
            <value>
                <elementReference>$Record.Lost_to_Competitor__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Fleet_Provider_OTG</name>
        <label>Update Account Fleet Provider (OTG)</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Fleet_Management_Provider__c</field>
            <value>
                <elementReference>Get_OTG_Providers.Account_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Learning_Assessment_Provider_Competitor</name>
        <label>Update Account Learning &amp; Assessment Provider (Competitor)</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Learning_Assessment_Provider__c</field>
            <value>
                <elementReference>$Record.Lost_to_Competitor__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Learning_Assessment_Provider_OTG</name>
        <label>Update Account Learning &amp; Assessment Provider (OTG)</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Learning_Assessment_Provider__c</field>
            <value>
                <elementReference>Get_OTG_Providers.Account_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Competitor_Updates</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 5 OR 6) AND (3 OR 4)</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Won_from_Competitor__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lost_to_Competitor__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Won_from_Competitor__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lost_to_Competitor__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
