force-app/main/default/flows/Opportunity_Currency_Change_Service_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Assign Opportunity Currency to Service Delivery Order</description>
        <name>Assign_Opportunity_Currency_to_Service_Delivery_Order</name>
        <label>Assign Opportunity Currency to Service Delivery Order</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Service_Delivery_Order.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Service_Delivery_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Currency_Change</name>
        <label>Check For Currency Change</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Currency_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CurrencyIsoCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Delivery_Order</targetReference>
            </connector>
            <label>Currency Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Currency Change - Service Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Currency Change - Service Order</label>
    <loops>
        <name>Loop_Through_Service_Delivery_Order</name>
        <label>Loop Through Service Delivery Order</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Service_Delivery_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunity_Currency_to_Service_Delivery_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Service_Delivery_Order_Currency</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Delivery_Order</name>
        <label>Get Service Delivery Order</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Service_Delivery_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service Delivery</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Delivery_Order_Currency</name>
        <label>Update Service Delivery Order Currency</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Loop_Through_Service_Delivery_Order.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Orders</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_For_Currency_Change</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
