force-app/main/default/flows/Opportunity_Stage_Not_Updated_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Alert</name>
        <label>Send Email Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.OpportunityStageNotUpdated</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.OpportunityStageNotUpdated</nameSegment>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Check_for_Opportunity_Owner_IsActive</name>
        <label>Check for Opportunity Owner IsActive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Identity User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert</targetReference>
            </connector>
            <label>Owner Active?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Updated</name>
        <label>Opportunity Updated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_1_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Last1Day</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Opportunity_Owner_IsActive</targetReference>
            </connector>
            <label>Last 1 Day?</label>
        </rules>
    </decisions>
    <description>Sends an alert to Opportunity Owners if reasons are populated but stage not updated</description>
    <environments>Default</environments>
    <formulas>
        <name>Last1Day</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}-1</expression>
    </formulas>
    <interviewLabel>Opportunity Stage Not Updated - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Stage Not Updated - Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Updated</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Won_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lost_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-07-25</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
