force-app/main/default/flows/Opportunity_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <description>Case 63769</description>
    <environments>Default</environments>
    <formulas>
        <name>AccountLink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK({!BaseURL} &amp; {!$Record.Account.Id}, {!$Record.Account.Name})</expression>
    </formulas>
    <formulas>
        <name>BaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_540},FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_540}))</expression>
    </formulas>
    <formulas>
        <name>OpportunityLink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK({!BaseURL} &amp; {!$Record.Id}, {!$Record.Name})</expression>
    </formulas>
    <formulas>
        <name>Toggle</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Validation_Toggle__c} = TRUE,FALSE,TRUE)</expression>
    </formulas>
    <interviewLabel>Opportunity - After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_New_Opp_Fields</name>
        <label>Set New Opp Fields</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Group_Owner_Email_Helper__c</field>
            <value>
                <elementReference>$Record.Account.Ultimate_Parent_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Owner_Manager_Email_Help__c</field>
            <value>
                <elementReference>Get_Sales_Director_Email_Address.SalesDirectorEmailVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Account_Email__c</field>
            <value>
                <elementReference>$Record.Account.Parent_Account_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validation_Toggle__c</field>
            <value>
                <elementReference>Toggle</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sales_Director_Email_Address</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Sales_Director_Email_Address</name>
        <label>Get Sales Director Email Address</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Set_New_Opp_Fields</targetReference>
        </connector>
        <flowName>Get_Sales_Director_Email_Address</flowName>
        <inputAssignments>
            <name>OppOwnerRoleName</name>
            <value>
                <elementReference>$Record.Owner.UserRole.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Dear {!$Record.Account_Owner__c} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;A new Opportunity has been created under account:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Account Name: {!$Record.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Account link: {!AccountLink}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Opportunity Name: {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Opportunity Link: {!OpportunityLink}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Thank you!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;OTG&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>SalesDirectorEmailVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>usedEmailCollections</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
