force-app/main/default/flows/Opportunity_Before_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Existing_Values</name>
        <label>Set Existing Values</label>
        <locationX>974</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>opportunityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Existing_Opportunity_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Type_To_Account_Growth</name>
        <label>Set Opportunity Type To Account Growth</label>
        <locationX>1370</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>opportunityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account Growth</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Type_To_Cross_sell</name>
        <label>Set Opportunity Type To Cross-sell</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>opportunityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cross-sell</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Type_To_OLP_Transition</name>
        <label>Set Opportunity Type To OLP Transition</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>opportunityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OLP Transition</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Type_To_One_Time</name>
        <label>Set Opportunity Type To One-Time</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>opportunityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One-Time</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oneTimeSalesTypeValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Type_To_Renwal</name>
        <label>Set Opportunity Type To Renewal</label>
        <locationX>1634</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>opportunityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Type_To_Upsell</name>
        <label>Set Opportunity Type To Upsell</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>opportunityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Up-sell</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Type_To_Whitespace</name>
        <label>Set Opportunity Type To Whitespace</label>
        <locationX>1106</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>opportunityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Whitespace</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opportunity_Type</name>
        <label>Opportunity Type</label>
        <locationX>974</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OLP_Transition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OLP_Transition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OLP Transition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Type_To_OLP_Transition</targetReference>
            </connector>
            <label>OLP Transition</label>
        </rules>
        <rules>
            <name>One_Time</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OLP Transition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLP_Transition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Account Growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Type_To_One_Time</targetReference>
            </connector>
            <label>One-Time</label>
        </rules>
        <rules>
            <name>Upsell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OLP Transition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLP_Transition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Customer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Account Growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Up-sell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Customer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Type_To_Upsell</targetReference>
            </connector>
            <label>Upsell</label>
        </rules>
        <rules>
            <name>Cross_sell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OLP Transition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLP_Transition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Customer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Account Growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cross-sell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Customer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Type_To_Cross_sell</targetReference>
            </connector>
            <label>Cross-sell</label>
        </rules>
        <rules>
            <name>Whitespace</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OLP Transition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLP_Transition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Customer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Customer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Account Growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Whitespace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Type_To_Whitespace</targetReference>
            </connector>
            <label>Whitespace</label>
        </rules>
        <rules>
            <name>Account_Growth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Type_To_Account_Growth</targetReference>
            </connector>
            <label>Account Growth</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Type_To_Renwal</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Type_Field_Changed</name>
        <label>Sales Type Field Changed</label>
        <locationX>1568</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Sales_Type_Field_Changed</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sales_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Existing_Opportunity_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Customer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Account_Customer_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>oneTimeSalesTypeValue</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Sales_Type__c}, &quot;Service&quot;), &quot;Service&quot;, &quot;One-time&quot;)</expression>
    </formulas>
    <interviewLabel>Opportunity - Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Before Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>974</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>Existing_Opportunity_Type__c</field>
            <value>
                <elementReference>opportunityType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Type__c</field>
            <value>
                <elementReference>salesType</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sales_Type_Field_Changed</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ContractType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Existing_Opportunity_Type__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Placeholder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
