force-app/main/default/flows/Quote_After_Save_Update_Opp_fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Bypass_Value</name>
        <label>Assign Bypass Value</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>GetCustomSetting.ByPass_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_ByPass_Flow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Custom_Setting</name>
        <label>Check for Custom Setting</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>GetMasterContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_ByPass_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCustomSetting.ByPass_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bypass_Value</targetReference>
            </connector>
            <label>Check for ByPass Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Next_Step_and_Description_Value</name>
        <label>Check for Next Step and Description Value</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next_Step_and_Desc_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Master_Opportunity.NextStep</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Master_Opportunity.Description</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Records_With_Next_Step_and_Desc</targetReference>
            </connector>
            <label>Next Step and Desc is Blank?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote After Save - Update Opp fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote After Save - Update Opp fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Master_Opportunity</name>
        <label>Get Master Opportunity</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Next_Step_and_Description_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetMasterContract.SBQQ__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCustomSetting</name>
        <label>Get Custom Setting</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Custom_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ByPass_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VRConfiguration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMasterContract</name>
        <label>GetMasterContract</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Master_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_Update_Bypass_True</name>
        <label>Copy 2 of Update Bypass - True</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ByPass_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ByPass_Flow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>VRConfiguration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bypass_True</name>
        <label>Update Bypass - True</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ByPass_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ByPass_Flow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>VRConfiguration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Records</name>
        <label>Update Opportunity Records</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Copy_2_of_Update_Bypass_True</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AgreementType__c</field>
            <value>
                <elementReference>GetMasterContract.Agreement_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Get_Master_Opportunity.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>Get_Master_Opportunity.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term__c</field>
            <value>
                <elementReference>GetMasterContract.ContractTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Installations__c</field>
            <value>
                <elementReference>$Record.Total_Installations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Group__c</field>
            <value>
                <elementReference>Get_Master_Opportunity.Product_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Type__c</field>
            <value>
                <elementReference>Get_Master_Opportunity.Sales_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Opportunity2__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Records_With_Next_Step_and_Desc</name>
        <label>Update Opportunity Records - With Next Step and Desc</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Update_Bypass_True</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AgreementType__c</field>
            <value>
                <elementReference>GetMasterContract.Agreement_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Get_Master_Opportunity.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>Get_Master_Opportunity.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term__c</field>
            <value>
                <elementReference>GetMasterContract.ContractTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Installations__c</field>
            <value>
                <elementReference>$Record.Total_Installations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Group__c</field>
            <value>
                <elementReference>Get_Master_Opportunity.Product_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Type__c</field>
            <value>
                <elementReference>Get_Master_Opportunity.Sales_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Opportunity2__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_ByPass_Flow</name>
        <label>Updated ByPass Flow</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>GetMasterContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ByPass_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ByPass_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>VRConfiguration__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCustomSetting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Auto_Installation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
