force-app/main/default/flows/Quotes_Primary_Contact_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Quotes - Primary Contact Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quotes - Primary Contact Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Quotes_Opportunity</name>
        <label>Get Quotes Opportunity</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_Opportunity_Contact_to_Quote_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Primary_Contact</name>
        <label>Update Primary Contact</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <inputReference>Transform_Opportunity_Contact_to_Quote_Primary_Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SBQQ__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>When_Quote_Created</name>
            <connector>
                <targetReference>Get_Quotes_Opportunity</targetReference>
            </connector>
            <label>When Quote Created</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Opportunity_Contact_to_Quote_Primary_Contact</name>
        <label>Transform Opportunity Contact to Quote Primary Contact</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Update_Primary_Contact</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>SBQQ__Quote__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>SBQQ__PrimaryContact__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Quotes_Opportunity[$EachItem].Contact_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SBQQ__Opportunity2__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Quotes_Opportunity[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Legal_Entity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Quotes_Opportunity[$EachItem].Legal_Entity__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>OpportunityContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
