force-app/main/default/flows/Strategic_Account_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Clear_Override</name>
        <label>Clear Override</label>
        <locationX>854</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>$Record.Strategic_Account_Override__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Strategic</name>
        <label>Default</label>
        <locationX>292</locationX>
        <locationY>1111</locationY>
        <assignmentItems>
            <assignToReference>StrategicAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Strategic</name>
        <label>No</label>
        <locationX>421</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>StrategicAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Original_Strategic_Value</name>
        <label>Set Original Strategic Value</label>
        <locationX>50</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>OriginalStrategicAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Strategic_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_override_populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_override_value</name>
        <label>Use override value</label>
        <locationX>580</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>StrategicAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Strategic_Account_Override__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Yes_Strategic</name>
        <label>Yes</label>
        <locationX>521</locationX>
        <locationY>555</locationY>
        <assignmentItems>
            <assignToReference>StrategicAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Override_Be_Cleared</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_override_populated</name>
        <label>Is override populated?</label>
        <locationX>267</locationX>
        <locationY>303</locationY>
        <defaultConnector>
            <targetReference>Unknown_Segmentation_No_Override</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Override_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Strategic_Account_Override__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Segmentation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Small Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Strategic_Account_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_override_value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Strategic_Account_Set</name>
        <label>Is Strategic Account Set?</label>
        <locationX>283</locationX>
        <locationY>886</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Segmentation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Strategic_Account__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Default_Strategic</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Override_Be_Cleared</name>
        <label>Should Override Be Cleared</label>
        <locationX>645</locationX>
        <locationY>658</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Clear_Override</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Strategic_Account_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Override</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Small</name>
        <label>Small</label>
        <locationX>274</locationX>
        <locationY>743</locationY>
        <defaultConnector>
            <targetReference>Is_Strategic_Account_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Small_Segmentation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Segmentation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Segmentation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Small Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Strategic</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>StrategicAccountUpdated</name>
        <label>StrategicAccountUpdated</label>
        <locationX>1076</locationX>
        <locationY>1052</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OriginalStrategicAccount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>StrategicAccount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_Value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Top_VIP_Portfolio_or_Key</name>
        <label>Top, VIP, Portfolio or Key</label>
        <locationX>157</locationX>
        <locationY>645</locationY>
        <defaultConnector>
            <targetReference>Small</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Segmentation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Segmentation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Top Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Segmentation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIP Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Segmentation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portfolio Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Segmentation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Yes_Strategic</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unknown_Segmentation_No_Override</name>
        <label>Unknown Segmentation No Override</label>
        <locationX>359</locationX>
        <locationY>440</locationY>
        <defaultConnector>
            <targetReference>Top_VIP_Portfolio_or_Key</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Override</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Segmentation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Strategic_Account_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Strategic</targetReference>
            </connector>
            <label>Override Unknown Accounts</label>
        </rules>
    </decisions>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Strategic Account Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Strategic Account Calculation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>933</locationX>
        <locationY>872</locationY>
        <connector>
            <targetReference>StrategicAccountUpdated</targetReference>
        </connector>
        <inputAssignments>
            <field>Strategic_Account__c</field>
            <value>
                <elementReference>StrategicAccount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_Value</name>
        <label>Update Previous Value</label>
        <locationX>1247</locationX>
        <locationY>1050</locationY>
        <inputAssignments>
            <field>Strategic_Account_Previous_Value__c</field>
            <value>
                <elementReference>OriginalStrategicAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visma_Modified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>147</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_Original_Strategic_Value</targetReference>
        </connector>
        <filterLogic>1 OR 2 OR 3 OR 4</filterLogic>
        <filters>
            <field>Strategic_Account_Override__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Segmentation__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>OriginalStrategicAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StrategicAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
