force-app/main/default/flows/Update_Contract_On_Renewal_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_Bypass</name>
        <label>Check Bypass</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_is_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractFlowBypassFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Contract_Renewal</targetReference>
            </connector>
            <label>Bypass is Disabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Business_Unit</name>
        <label>Check for Business Unit</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Check_for_Next_Step_and_Description_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_Unit_is_L_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCM Learning, Assessment and Competency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Renewal_Opportunity_OLP_Software_and_Content_Level</targetReference>
            </connector>
            <label>Business Unit is L&amp;A</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Contract_Renewal</name>
        <label>Check for Contract Renewal</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_for_Business_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Renew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalForecast__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalQuoted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Renewal_Opportunity</targetReference>
            </connector>
            <label>Contract Renew</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Installations</name>
        <label>Check for Installations</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Check_for_Opportunity_Stages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Number_of_Installation_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalOpportunity__r.Number_of_Installations__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Number_of_Installation_on_Opportunity_Renewal_Opportunity</targetReference>
            </connector>
            <label>Number of Installation Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Next_Step_and_Description_Value</name>
        <label>Check for Next Step and Description Value</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Check_for_Installations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next_Step_and_Desc_is_Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalOpportunity__r.NextStep</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalOpportunity__r.Description</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Renewal_Opportunity_Next_Step_And_Desc</targetReference>
            </connector>
            <label>Next Step and Desc is Blank?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Opportunity_Stages</name>
        <label>Check for Opportunity Stages</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stages_Before_Proposal_Reveiw</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalOpportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospecting &amp; Qualifying</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalOpportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Value Proposition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalOpportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal / Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalOpportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Renewal_Opportunity_Stage_to_Proposal_Review</targetReference>
            </connector>
            <label>Stages Before Proposal Reveiw</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Contract On Renewal Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contract On Renewal Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Setting</name>
        <label>Get Setting</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Bypass</targetReference>
        </connector>
        <object>VRConfiguration__c</object>
        <outputAssignments>
            <assignToReference>ContractFlowBypassFlag</assignToReference>
            <field>Contract_Flows_Triggers__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Number_of_Installation_on_Opportunity_Renewal_Opportunity</name>
        <label>Update Number of Installation on Opportunity Renewal Opportunity</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Check_for_Opportunity_Stages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__RenewalOpportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Installations__c</field>
            <value>
                <elementReference>$Record.No_of_Installations__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Opportunity</name>
        <label>Update Renewal Opportunity - Early Stage</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_for_Business_Unit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__RenewalOpportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AgreementType__c</field>
            <value>
                <elementReference>$Record.Agreement_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>$Record.Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity__r.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term__c</field>
            <value>
                <elementReference>$Record.SBQQ__RenewalTerm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Opportunity_Type__c</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Existing Customer Relationship</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Entity__c</field>
            <value>
                <elementReference>$Record.Legal_Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Max_number_of_users__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity__r.Max_number_of_users__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Type__c</field>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Opportunity_Next_Step_And_Desc</name>
        <label>Update Renewal Opportunity - Next Step And Desc</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Check_for_Installations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__RenewalOpportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Opportunity_OLP_Software_and_Content_Level</name>
        <label>Update Renewal Opportunity - OLP Software and Content Level</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Check_for_Next_Step_and_Description_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__RenewalOpportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OLP_Content_Level__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity__r.OLP_Content_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OLP_Software_Level__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity__r.OLP_Software_Level__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Opportunity_Stage_to_Proposal_Review</name>
        <label>Update Renewal Opportunity Stage to Proposal Review</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__RenewalOpportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Proposal Review</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContractFlowBypassFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
