force-app/main/default/flows/Update_Primary_Contact_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Flip_Crew_PC</name>
        <label>Flip Crew PC</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Crew_Primary_Contact_Exists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TogglePrimaryContactCrew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Fleet_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flip_Fleet_PC</name>
        <label>Flip Fleet PC</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Fleet_Primary_Contact_Exists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TogglePrimaryContactFleet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_L_A_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flip_L_A_PC</name>
        <label>Flip L&amp;A PC</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.L_A_Primary_Contact_Exists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TogglePrimaryContactLA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validation_Toggle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Validation_Toggle</name>
        <label>Validation Toggle</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Validation_Toggle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValidationToggle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Crew_Primary_Contact</name>
        <label>Check Crew Primary Contact</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Fleet_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enabled_Disabled_Crew</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Crew_Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Crew_Primary_Contact_Exists__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Crew_Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Crew_Primary_Contact_Exists__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Crew_Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flip_Crew_PC</targetReference>
            </connector>
            <label>Enabled/Disabled Crew</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Fleet_Primary_Contact</name>
        <label>Check Fleet Primary Contact</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Check_L_A_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enabled_Disabled_Fleet</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fleet_Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Fleet_Primary_Contact_Exists__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fleet_Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Fleet_Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Fleet_Primary_Contact_Exists__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flip_Fleet_PC</targetReference>
            </connector>
            <label>Enabled / Disabled Fleet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_L_A_Primary_Contact</name>
        <label>Check L&amp;A Primary Contact</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Validation_Toggle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enabled_Disabled_L_A</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.L_A_Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.L_A_Primary_Contact_Exists__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.L_A_Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.L_A_Primary_Contact_Exists__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.L_A_Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flip_L_A_PC</targetReference>
            </connector>
            <label>Enabled / Disabled L&amp;A</label>
        </rules>
    </decisions>
    <description>Updates PC on account based on the BU primary contact on contact.</description>
    <environments>Default</environments>
    <formulas>
        <name>TogglePrimaryContactCrew</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Account.Crew_Primary_Contact_Exists__c} = True, False , True)</expression>
    </formulas>
    <formulas>
        <name>TogglePrimaryContactFleet</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Account.Fleet_Primary_Contact_Exists__c} = True, False , True)</expression>
    </formulas>
    <formulas>
        <name>TogglePrimaryContactLA</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Account.L_A_Primary_Contact_Exists__c} = True, False , True)</expression>
    </formulas>
    <formulas>
        <name>ValidationToggle</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!Get_Account.Validation_Toggle__c})</expression>
    </formulas>
    <interviewLabel>Update Primary Record on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Primary Contact on Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Crew_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Inactive__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
