force-app/main/default/flows/Update_Pricebook_Id_BeforeSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_PriceBookId</name>
        <label>Assign PriceBookId</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__PriceBook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01s4K000003vasRQAQ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__PricebookId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01s4K000003vasRQAQ</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Quote_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Start_End_Dates</name>
        <label>Assign Start &amp; End Dates</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ExpirationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteExpDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opp_Records.SBQQ__RenewedContract__r.SBQQ__RenewalTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__DeliveryMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opp_Records.SBQQ__RenewedContract__r.Default_Delivery_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opp_Records.SBQQ__RenewedContract__r.Billing_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Agreement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opp_Records.SBQQ__RenewedContract__r.Unit_of_Measure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Legal_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opp_Records.Legal_Entity__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Quote_Type</name>
        <label>Check Quote Type</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_is_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Records</targetReference>
            </connector>
            <label>Type is Renewal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>End_Date</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!StartDate}, {!Get_Opp_Records.SBQQ__RenewedContract__r.ContractTerm}) - 1</expression>
    </formulas>
    <formulas>
        <name>QuoteExpDate</name>
        <dataType>Date</dataType>
        <expression>{!End_Date} - 30</expression>
    </formulas>
    <formulas>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <expression>{!Get_Opp_Records.SBQQ__RenewedContract__r.EndDate} + 1</expression>
    </formulas>
    <interviewLabel>Update Pricebook Id BeforeSave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Pricebook Id BeforeSave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opp_Records</name>
        <label>Get Opp Records</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Start_End_Dates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_PriceBookId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__PriceBook__c</field>
            <operator>EqualTo</operator>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
