force-app/main/default/flows/Update_Replica_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_Replica_Created</name>
        <label>Is Replica Created?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Replica_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Replica_Invoice_Account_RT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_replica_found</name>
        <label>Was a replica found?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Was_a_replica_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Oldest_Replica_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Replica_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>B2BValidationToggle</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!$Record.Validation_Toggle__c})</expression>
    </formulas>
    <formulas>
        <name>ValidationToggle</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!Get_Oldest_Replica_Account.Validation_Toggle__c})</expression>
    </formulas>
    <interviewLabel>Update Replica Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Replica Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get oldest replica invoice account. There should only ever be one replica invoice account per B2B but this ensures only the first will be updated.</description>
        <name>Get_Oldest_Replica_Account</name>
        <label>Get Oldest Replica Account</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_replica_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2B_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Replica_Invoice_Account_RT.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Replica_Invoice_Account_RT</name>
        <label>Get Replica Invoice Account RT</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oldest_Replica_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Replica Invoice Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Replica_Created__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validation_Toggle__c</field>
            <value>
                <elementReference>B2BValidationToggle</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Replica_Account</name>
        <label>Update Replica Account</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Oldest_Replica_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_On_Stop__c</field>
            <value>
                <elementReference>$Record.Account_On_Stop__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <elementReference>$Record.Account_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounts_Payable_email__c</field>
            <value>
                <elementReference>$Record.Accounts_Payable_email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address1__c</field>
            <value>
                <elementReference>$Record.Address1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address2__c</field>
            <value>
                <elementReference>$Record.Address2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address3__c</field>
            <value>
                <elementReference>$Record.Address3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Also_Known_as__c</field>
            <value>
                <elementReference>$Record.Also_Known_as__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bypass_Duplicate_Rule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Registration_Number__c</field>
            <value>
                <elementReference>$Record.Company_Registration_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>County_State__c</field>
            <value>
                <elementReference>$Record.County_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode_Zipcode__c</field>
            <value>
                <elementReference>$Record.Postcode_Zipcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previously_known_as__c</field>
            <value>
                <elementReference>$Record.Previously_known_as__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Dept_Email__c</field>
            <value>
                <elementReference>$Record.Purchase_Dept_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Requirements__c</field>
            <value>
                <elementReference>$Record.Purchase_Order_Requirements__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requires_Purchase_Order__c</field>
            <value>
                <elementReference>$Record.Requires_Purchase_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sanction_Status__c</field>
            <value>
                <elementReference>$Record.Sanction_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Town_City__c</field>
            <value>
                <elementReference>$Record.Town_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Under_NDA__c</field>
            <value>
                <elementReference>$Record.Under_NDA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT_Number__c</field>
            <value>
                <elementReference>$Record.VAT_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validation_Toggle__c</field>
            <value>
                <elementReference>ValidationToggle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visma_Modified_Date__c</field>
            <value>
                <elementReference>$Record.Visma_Modified_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Replica_Created</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Replica_Created__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Visma_ID__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Also_Known_as__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Previously_known_as__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_On_Stop__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Under_NDA__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sanction_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Address1__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Address2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Address3__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Town_City__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>County_State__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Postcode_Zipcode__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Blacklist_Country_Sanctioned__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>International_Dialling_code__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Requires_Purchase_Order__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Purchase_Dept_Email__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Purchase_Order_Requirements__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Company_Registration_Number__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VAT_Number__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Visma_Modified_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Accounts_Payable_email__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
