force-app/main/default/flows/Updating_Account_Record_Owner_Based_on_Country_Mapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Checking_Country_Mapping_has_Default_Account_Owner_Id</name>
        <label>Checking Country Mapping has Default Account Owner Id</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Country_Mapping_Has_Default_Account_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__r.Default_Account_Owner__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Account_Owner</targetReference>
            </connector>
            <label>Country Mapping Has Default Account Owner</label>
        </rules>
    </decisions>
    <description>Updating Account Record Owner Based on Country Mapping</description>
    <environments>Default</environments>
    <formulas>
        <description>custom Setting Value Account Owner</description>
        <name>customSettingValueId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Default_Account_Owner_Settings__c.EMEA_Default_Owner_ID__c}</expression>
    </formulas>
    <interviewLabel>Updating Account Record Owner Based on Country Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Updating Account Record Owner Based on Country Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Account Owner Based on Country Mapping</description>
        <name>Copy_1_of_Update_Account_Owner</name>
        <label>Copy 1 of Update Account Owner</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Customer_Engagement_Manager__c</field>
            <value>
                <elementReference>customSettingValueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>customSettingValueId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account Owner Based on Country Mapping</description>
        <name>Update_Account_Owner</name>
        <label>Update Account Owner</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Customer_Engagement_Manager__c</field>
            <value>
                <elementReference>$Record.Country__r.Default_Customer_Engagement_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Country__r.Default_Account_Owner__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_Country_Mapping_has_Default_Account_Owner_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2B Account</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
