force-app/main/default/flows/Update_Contract_Renewal_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Calculate_Next_Renewal_Date_and_Renewal_Month</name>
        <label>Calculate Next Renewal Date and Renewal Month</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Next_Renewal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_Renewal_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Renewal_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Renewal_Month</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_Contract_End_Date_is_Populated</name>
        <label>Check if Contract End Date is Populated</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_Date_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Next_Renewal_Date_and_Renewal_Month</targetReference>
            </connector>
            <label>End Date Populated</label>
        </rules>
    </decisions>
    <description>Update the contract Renewal Details</description>
    <environments>Default</environments>
    <formulas>
        <name>Next_Renewal_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Record.EndDate} + 1</expression>
    </formulas>
    <formulas>
        <name>Renewal_Month</name>
        <dataType>String</dataType>
        <expression>CASE(
    MONTH({!$Record.EndDate} + 1),
    1, &quot;Jan&quot;,
    2, &quot;Feb&quot;,
    3, &quot;Mar&quot;,
    4, &quot;Apr&quot;,
    5, &quot;May&quot;,
    6, &quot;Jun&quot;,
    7, &quot;Jul&quot;,
    8, &quot;Aug&quot;,
    9, &quot;Sep&quot;,
    10, &quot;Oct&quot;,
    11, &quot;Nov&quot;,
    12, &quot;Dec&quot;,
    &quot;Unknown&quot;
)</expression>
    </formulas>
    <interviewLabel>Update Contract Renewal Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contract Renewal Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Contract_End_Date_is_Populated</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
