force-app/main/default/flows/Update_Contract_Fleet_Subscription_Amedment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assigned_LSMA</name>
        <label>Assigned LSMA</label>
        <locationX>534</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>hasLSMA</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Other</name>
        <label>Assigned Other</label>
        <locationX>1062</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>hasOtherType</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Subscription</name>
        <label>Assigned Subscription</label>
        <locationX>798</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>hasSubscription</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fleet_Subscription_Type_to_LSMA</name>
        <label>Set Fleet Subscription Type to LSMA</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>FleetSubscriptionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LSMA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fleet_Subscription_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fleet_Subscription_Type_to_Mix_Sub_LSMA</name>
        <label>Set Fleet Subscription Type to Mix (Sub &amp; LSMA)</label>
        <locationX>578</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>FleetSubscriptionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mix (Sub &amp; LMSA)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fleet_Subscription_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fleet_Subscription_Type_to_N_A</name>
        <label>Set Fleet Subscription Type to N/A</label>
        <locationX>842</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>FleetSubscriptionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fleet_Subscription_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fleet_Subscription_Type_to_Subscription</name>
        <label>Set Fleet Subscription Type to Subscription</label>
        <locationX>314</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>FleetSubscriptionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fleet_Subscription_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Business_Unit</name>
        <label>Check for Business Unit</label>
        <locationX>908</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fleet_Or_Technical_Ship_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Ship Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Lines</targetReference>
            </connector>
            <label>Fleet Or Technical Ship Management?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Change_Type</name>
        <label>Check for Change Type</label>
        <locationX>1062</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Quote_Lines.Change_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Revenue_Type</targetReference>
            </connector>
            <label>Cancel?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Revenue_Type</name>
        <label>Check Revenue Type</label>
        <locationX>798</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Assigned_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Type</defaultConnectorLabel>
        <rules>
            <name>TM_Master_LSMA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Quote_Lines.Product_Revenue_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TM Master LSMA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_LSMA</targetReference>
            </connector>
            <label>TM Master LSMA</label>
        </rules>
        <rules>
            <name>TM_Master_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Quote_Lines.Product_Revenue_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TM Master Subscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_Subscription</targetReference>
            </connector>
            <label>TM Master Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Fleet_Subscription_Type</name>
        <label>Determine Fleet Subscription Type</label>
        <locationX>446</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Set_Fleet_Subscription_Type_to_N_A</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assigned_Fleet_Subscription_Type_LSMA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasLSMA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hasSubscription</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hasOtherType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fleet_Subscription_Type_to_LSMA</targetReference>
            </connector>
            <label>Assigned Fleet Subscription Type - LSMA</label>
        </rules>
        <rules>
            <name>Assigned_Fleet_Subscription_Type_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasSubscription</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hasLSMA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hasOtherType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fleet_Subscription_Type_to_Subscription</targetReference>
            </connector>
            <label>Assigned Fleet Subscription Type - Subscription</label>
        </rules>
        <rules>
            <name>Assigned_Fleet_Subscription_Type_Mix_Sub_LSMA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasLSMA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hasSubscription</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fleet_Subscription_Type_to_Mix_Sub_LSMA</targetReference>
            </connector>
            <label>Assigned Fleet Subscription Type - Mix (Sub &amp; LSMA)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Contract Fleet Subscription - Amedment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contract Fleet Subscription - Amedment</label>
    <loops>
        <name>Loop_Through_Quote_Lines</name>
        <label>Loop Through Quote Lines</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Change_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Determine_Fleet_Subscription_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>908</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Business_Unit</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Ship Management</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Lines</name>
        <label>Get Quote Lines</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fleet_Subscription_Type</name>
        <label>Update Fleet Subscription Type</label>
        <locationX>446</locationX>
        <locationY>1631</locationY>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fleet_Subscription_Type__c</field>
            <value>
                <elementReference>FleetSubscriptionType</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>FleetSubscriptionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasLSMA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hasOtherType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hasSubscription</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
