force-app/main/default/flows/Update_Account_Child_Opps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Opp_to_collection</name>
        <label>Add Opp to collection</label>
        <locationX>798</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Opportunitiestoupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_child_opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_child_opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Bypass_Value</name>
        <label>Assign Bypass Value</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>Get_Custom_Setting.ByPass_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_ByPass_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cross_sell</name>
        <label>Assign Cross-sell</label>
        <locationX>798</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_child_opps.Existing_Opportunity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cross-sell</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_child_opps.Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_opp_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign local variables with default values if business unit is not set</description>
        <name>Assign_Default</name>
        <label>Assign Default</label>
        <locationX>1326</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Local_Customer_Status_After_Logic</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_child_opps.Product_Solutions__r.Product_Area_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Local_Contracted_Fleet_Size</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contracted_Fleet_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Local_Contracted_Shore_Size</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contracted_Shore_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppCurrency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_child_opps.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Local_Subscription_Annual_Order_Value_After_Logic</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnnualOrderValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Customer_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty</name>
        <label>Assign Empty</label>
        <locationX>1062</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_child_opps.Existing_Opportunity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Whitespace</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_child_opps.Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_opp_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign local variables if business unit is Crew</description>
        <name>Assign_for_Crew</name>
        <label>Assign for Crew</label>
        <locationX>798</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Local_Customer_Status_After_Logic</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_child_opps.Product_Solutions__r.Product_Area_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Local_Contracted_Fleet_Size</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Crew_Contracted_Fleet_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Local_Contracted_Shore_Size</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Crew_Contracted_Shore_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppCurrency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_child_opps.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Local_Subscription_Annual_Order_Value_After_Logic</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CrewOrderValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Customer_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign local variables if business unit is Fleet</description>
        <name>Assign_For_Fleet</name>
        <label>Assign For Fleet</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Local_Customer_Status_After_Logic</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_child_opps.Product_Solutions__r.Product_Area_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Local_Contracted_Fleet_Size</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fleet_Contracted_Fleet_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Local_Contracted_Shore_Size</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fleet_Contracted_Shore_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppCurrency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_child_opps.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Local_Subscription_Annual_Order_Value_After_Logic</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FleetSubscriptionValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Customer_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign local variables if business unit is L&amp;A</description>
        <name>Assign_for_L_A</name>
        <label>Assign for L&amp;A</label>
        <locationX>534</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Local_Customer_Status_After_Logic</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_child_opps.Product_Solutions__r.Product_Area_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Local_Contracted_Fleet_Size</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.L_A_Contracted_Fleet_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Local_Contracted_Shore_Size</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.L_A_Contracted_Shore_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppCurrency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_child_opps.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Local_Subscription_Annual_Order_Value_After_Logic</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LAOrderValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Customer_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign local variables if business unit is L&amp;A</description>
        <name>Assign_for_Marine</name>
        <label>Assign for Marine</label>
        <locationX>1062</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Local_Customer_Status_After_Logic</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_child_opps.Product_Solutions__r.Product_Area_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Local_Contracted_Fleet_Size</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Marine_Regulations_Contracted_Fleet_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Local_Contracted_Shore_Size</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Marine_Regulations_Contracted_Shore_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppCurrency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_child_opps.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Local_Subscription_Annual_Order_Value_After_Logic</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarineOrderValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Customer_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_opp_values</name>
        <label>Assign new opp values</label>
        <locationX>798</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_child_opps.Account_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_child_opps.Validation_Toggle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Toggle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_child_opps.Customer_Status_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_child_opps.Account_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Local_Customer_Status_After_Logic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_child_opps.Account_Contracted_Fleet_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Local_Contracted_Fleet_Size</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_child_opps.Account_Contracted_Shore_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Local_Contracted_Shore_Size</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_child_opps.Account_Subscription_Annual_Order_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Local_Subscription_Annual_Order_Value_After_Logic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opp_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_One_time</name>
        <label>Assign One-time</label>
        <locationX>270</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_child_opps.Existing_Opportunity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One-Time</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_opp_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Up_sell</name>
        <label>Assign Up-sell</label>
        <locationX>534</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_child_opps.Existing_Opportunity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Up-sell</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_child_opps.Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Existing Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_opp_values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Custom_Setting</name>
        <label>Check for Custom Setting</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Update_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_ByPass_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Setting.ByPass_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bypass_Value</targetReference>
            </connector>
            <label>Check for ByPass Flow</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks if existing customer type on Opp is not set correctly</description>
        <name>Existing_Customer_Type</name>
        <label>Existing Customer Type</label>
        <locationX>798</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Assign_new_opp_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>One_time_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_child_opps.Sales_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_child_opps.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_child_opps.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_One_time</targetReference>
            </connector>
            <label>One-time Opportunity</label>
        </rules>
        <rules>
            <name>Active_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_child_opps.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OLP Transition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_child_opps.OLP_Transition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_child_opps.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Up-sell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Local_Customer_Status_After_Logic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_child_opps.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Account Growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_child_opps.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Up_sell</targetReference>
            </connector>
            <label>Active / Active</label>
        </rules>
        <rules>
            <name>Active_Lapsed_Lost_Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_child_opps.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OLP Transition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_child_opps.OLP_Transition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_child_opps.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cross-sell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Local_Customer_Status_After_Logic</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Local_Customer_Status_After_Logic</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_child_opps.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Account Growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_child_opps.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cross_sell</targetReference>
            </connector>
            <label>Active / Lapsed, Lost, Prospect</label>
        </rules>
        <rules>
            <name>Lapsed_Lost_Prospect_Lapsed_Lost_Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_child_opps.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OLP Transition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_child_opps.OLP_Transition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_child_opps.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Whitespace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Local_Customer_Status_After_Logic</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Local_Customer_Status_After_Logic</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_child_opps.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Account Growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_child_opps.Existing_Opportunity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Empty</targetReference>
            </connector>
            <label>Lapsed, Lost, Prospect / Lapsed, Lost, Prospect</label>
        </rules>
    </decisions>
    <decisions>
        <description>sets local variables based on business unit of the opportunity</description>
        <name>Local_Variable_Set_Based_On_Business_Unit</name>
        <label>Local Variable Set Based On Business Unit</label>
        <locationX>798</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_is_Fleet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_child_opps.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Ship Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_For_Fleet</targetReference>
            </connector>
            <label>Business is Fleet</label>
        </rules>
        <rules>
            <name>Business_is_L_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_child_opps.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCM Learning, Assessment and Competency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_for_L_A</targetReference>
            </connector>
            <label>Business is L&amp;A</label>
        </rules>
        <rules>
            <name>Business_is_Crew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_child_opps.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCM Crew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_for_Crew</targetReference>
            </connector>
            <label>Business is Crew</label>
        </rules>
        <rules>
            <name>Business_is_Marine_Regulations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_child_opps.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Governance, Risk &amp; Compliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_for_Marine</targetReference>
            </connector>
            <label>Business is Marine Regulations</label>
        </rules>
    </decisions>
    <description>Updates the child opportunities when the specified fields are changed on Account</description>
    <environments>Default</environments>
    <formulas>
        <name>AnnualOrderValue</name>
        <dataType>Currency</dataType>
        <expression>(CURRENCYRATE({!OppCurrency}) * {!$Record.Subscription_Annual_Order_Value__c}) / (CURRENCYRATE(TEXT({!$Record.CurrencyIsoCode})))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CrewOrderValue</name>
        <dataType>Currency</dataType>
        <expression>(CURRENCYRATE({!OppCurrency}) * {!$Record.Crew_Subscription_Annual_Order_Value__c}) / (CURRENCYRATE(TEXT({!$Record.CurrencyIsoCode})))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FleetSubscriptionValue</name>
        <dataType>Currency</dataType>
        <expression>(CURRENCYRATE({!OppCurrency}) * {!$Record.Fleet_Subscription_Annual_Order_Value__c}) / (CURRENCYRATE(TEXT({!$Record.CurrencyIsoCode})))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LAOrderValue</name>
        <dataType>Currency</dataType>
        <expression>(CURRENCYRATE({!OppCurrency}) * {!$Record.L_A_Subscription_Annual_Order_Value__c}) / (CURRENCYRATE(TEXT({!$Record.CurrencyIsoCode})))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MarineOrderValue</name>
        <dataType>Currency</dataType>
        <expression>(CURRENCYRATE({!OppCurrency}) * {!$Record.Marine_Regulations_Subscription_Annual_O__c}) / (CURRENCYRATE(TEXT({!$Record.CurrencyIsoCode})))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Toggle</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Loop_through_child_opps.Validation_Toggle__c} = TRUE,FALSE,TRUE)</expression>
    </formulas>
    <interviewLabel>Update Account Child Opps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Child Opps</label>
    <loops>
        <name>Loop_through_child_opps</name>
        <label>Loop through child opps</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Related_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Local_Variable_Set_Based_On_Business_Unit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Custom_Setting</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Setting</name>
        <label>Get Custom Setting</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ByPass_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VRConfiguration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Opps</name>
        <label>Get Related Opps</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_child_opps</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 16 OR (((7 OR 20) AND (8 OR 13)) OR ((9 OR 21) AND (10 OR 14)) OR ( (11 OR 22) AND (12 OR 15))OR ( (17 OR 23) AND (18 OR 19))))</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Contracted_Fleet_Size__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Contracted_Fleet_Size__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Contracted_Shore_Size__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Contracted_Shore_Size__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Subscription_Annual_Order_Value__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Subscription_Annual_Order_Value__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fleet</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Customer_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Fleet_Customer_Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crew</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Customer_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Crew_Customer_Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Learning &amp; Assessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Customer_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.L_A_Customer_Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Subscription_Annual_Order_Value__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Fleet_Subscription_Annual_Order_Value__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Subscription_Annual_Order_Value__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Crew_Subscription_Annual_Order_Value__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Subscription_Annual_Order_Value__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.L_A_Subscription_Annual_Order_Value__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Status_List__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marine Regulations</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Customer_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Marine_Regulations_Customer_Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Subscription_Annual_Order_Value__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Marine_Regulations_Subscription_Annual_O__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Ship Management</stringValue>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HCM Crew</stringValue>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HCM Learning, Assessment and Competency</stringValue>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Governance, Risk &amp; Compliance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Bypass_True</name>
        <label>Update Bypass - True</label>
        <locationX>182</locationX>
        <locationY>2063</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ByPass_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ByPass_Flow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>VRConfiguration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opps</name>
        <label>Update Opps</label>
        <locationX>182</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>Update_Bypass_True</targetReference>
        </connector>
        <inputReference>Opportunitiestoupdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_ByPass_Flow</name>
        <label>Updated ByPass Flow</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Update_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ByPass_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ByPass_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>VRConfiguration__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Setting</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Local_Contracted_Fleet_Size</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Local_Contracted_Shore_Size</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>local variable to store customer status after logic</description>
        <name>Local_Customer_Status_After_Logic</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Local_Existing_Customer_Type_After_Logic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>local variable to store Subscription Annual Order Value after the business unit logic runs</description>
        <name>Local_Subscription_Annual_Order_Value_After_Logic</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OppCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunitiestoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>These are the opps that have just been updated and now need the checkbox Flow Running set to false</description>
        <name>OppstoUpdateFlowRunning</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
