force-app/main/default/flows/Validate_Unique_External_System_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assigned_Primary</name>
        <label>Assigned Primary</label>
        <locationX>402</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>hasPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Relationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Has_Primary</name>
        <label>Initialize_Has_Primary</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>hasPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Relationships</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Duplicate_Account_ID</name>
        <label>Check for Duplicate Account ID</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_External_System_Account_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_System_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_External_System_Account</targetReference>
            </connector>
            <label>Check External System Account ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Primary</name>
        <label>Check_If_Primary</label>
        <locationX>534</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Relationships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Relationships.External_System_Relationship_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_Primary</targetReference>
            </connector>
            <label>Check for Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Relationship_Rules</name>
        <label>Check_Relationship_Rules</label>
        <locationX>314</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_System_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_System_Relationship_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hasPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Primary</targetReference>
            </connector>
            <label>Primary Already Exists</label>
        </rules>
        <rules>
            <name>Secondary_Without_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_System_Relationship_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hasPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Secondary</targetReference>
            </connector>
            <label>Secondary Without Primary</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Validate Unique External System Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validate Unique External System Relationship</label>
    <loops>
        <name>Loop_Through_Relationships</name>
        <label>Loop_Through_Relationships</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <collectionReference>Get_Existing_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Primary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Relationship_Rules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_Records</name>
        <label>Get Existing Records</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_Has_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>External_System_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_System_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>External_System_Integration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_System_Accounts</name>
        <label>Get Existing System Accounts</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Duplicate_Account_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_System_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_System_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>External_System_Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_System_Account_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>External_System_Integration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_System_Relationship_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>External_System_Integration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ErrorMessagePrimary</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px; font-family: sans-serif;&quot;&gt;Only one Primary relationship is allowed per Account. A Primary relationship already exists for Account:&amp;nbsp;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px; font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Account_ID__r.Name}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessageSecondary</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Cannot create a Secondary relationship without an existing Primary relationship for Account: {!$Record.Account_ID__r.Name}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>hasPrimary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
