force-app/main/default/flows/Vessel_Avg_User_Count_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>264</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Average_Vessel_User_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_On_Vessel_Type_Metadata.Count__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_On_Vessel_Type_Metadata</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Vessel_Type</name>
        <label>Check Vessel Type</label>
        <locationX>396</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Iterate_On_Vessel_Type_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vessel_Type_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_On_Vessel_Type_Metadata.OTG_Vessel_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OTG_Vessel_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Count</targetReference>
            </connector>
            <label>Vessel Type Matches</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Vessel Avg User Count Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vessel Avg User Count Update</label>
    <loops>
        <name>Iterate_On_Vessel_Type_Metadata</name>
        <label>Iterate On Vessel Type Metadata</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_Vessel_Type_Count</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Vessel_Type</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Vessel_Type_Count</name>
        <label>Get Vessel Type Count</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_On_Vessel_Type_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OTG_Vessel_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OTG_Vessel_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OTG_Vessel_Type__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vessel_Type_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OTG_Vessel_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Vessel__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VesselTypeList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
